@font-face {
  src: url(fonts/Montserrat-Medium.ttf);
  font-family: Montserrat-M;
  src: url(fonts/Montserrat-Regular.ttf);
  font-family: Montserrat-R;
  src: url(fonts/PlayfairDisplay-Italic.ttf);
  font-family: PlayfairDisplay-I;
  src: url(fonts/PlayfairDisplay-Regular.ttf);
  font-family: PlayfairDisplay-R;
  src: url(fonts/PlayfairDisplay-BlackItalic.ttf);
  font-family: PlayfairDisplay-BI;
  src: url(fonts/PlayfairDisplay-Medium.ttf);
  font-family: PlayfairDisplay-M;
  src: url(fonts/ProximaNova-Alt-Thin.otf);
  font-family: ProximaNova-T;
  src: url(fonts/ProximaNova-light.otf);
  font-family: ProximaNova-L;
}
body {
  background-color: #201728;
  outline: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*===========================================================================================================*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #201728;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #e01c5a;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
/*===========================================================================================================*/
.head {
  background-image: url(assets/hearo-top.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 813px;
  width: 100%;
  transform: skew(0deg, 2deg) translateY(-24px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.head .sidenav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px #e01c5a solid;
  color: white;
  font-family: "ProximaNova-L";
  font-weight: bolder;
  font-size: 90%;
  text-align: center;
  width: 4rem;
  height: 2rem;
  transform: skew(0deg, -2deg) translateX(-630px) translateY(50px);
}
.head .sidenav-btn:hover {
  border: 2px black solid;
}
.head .sidenav-btn:focus {
  outline: none;
  border: 2px #70259b solid;
}
.head .logo {
  margin: auto;
  transform: skew(0deg, -2deg) translateY(150px);
  max-width: 30%;
  max-height: 10%;
}
.head .arrow1 {
  margin: auto;
  transform: skew(0deg, -2deg) translateY(35px);
  max-width: 2%;
  max-height: 5%;
}

.intro {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}
.intro .about {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100px);
  background-color: #70259b;
  font-family: "PlayfairDisplay-M";
  font-size: 250%;
  text-align: center;
  color: white;
  width: 67%;
  height: 450px;
  padding-top: 10%;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 20%;
  margin: auto;
}
.intro .about::after {
  border-color: transparent transparent #201728 transparent;
  border-style: solid;
  border-width: 0 0 4vw 70vw;
  bottom: 0;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
}
.intro .about-us-sec {
  display: flex;
  flex-direction: row;
}
.intro .about-us-sec .about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-220px);
  background-color: transparent;
  border: 2px #e01c5a solid;
  color: white;
  font-family: "ProximaNova-L";
  font-size: 90%;
  text-align: center;
  width: 10rem;
  height: 3rem;
}
.intro .about-us-sec .about-us:hover {
  background-color: #e01c5a;
  transition: 0.5s;
  font-weight: bolder;
}
.intro .about-us-sec .about-us:focus {
  background-color: #e01c5a;
  outline: none;
  border: 2px #e01c5a solid;
}
.intro .about-us-sec .arrow-right {
  transform: translateY(-205px) translateX(-20px);
  width: 45px;
  height: 16px;
}

.sec1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 135vh;
}
.sec1 .arrow-glyph {
  margin: auto;
  transform: translateY(-70px);
  max-width: 2%;
  max-height: 20%;
}
.sec1 .hex-gradient {
  margin: auto;
  width: 30%;
  transform: translateX(-120px);
}
.sec1 .image-slider-1 {
  margin: auto;
  width: 46.1%;
  transform: translateX(160px) translateY(-300px);
}
.sec1 .glyph {
  margin: auto;
  width: 4%;
  height: 242px;
  transform: translateX(350px) translateY(-770px);
}
.sec1 .sec1-head {
  margin: auto;
  font-family: "PlayfairDisplay-R";
  font-weight: 80;
  color: white;
  font-size: 360%;
  letter-spacing: 3px;
  width: 45%;
  transform: translateX(-190px) translateY(-985px);
}
.sec1 .sec1-text {
  margin: auto;
  width: 22.18%;
  color: white;
  font-family: "ProximaNova-L";
  font-size: 90%;
  letter-spacing: 1px;
  line-height: 1.4rem;
  transform: translateX(-340px) translateY(-940px);
}
.sec1 .sec1-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px #e01c5a solid;
  color: white;
  font-family: "ProximaNova-L";
  font-size: 90%;
  text-align: center;
  width: 8rem;
  height: 10.2rem;
  transform: translateX(-425px) translateY(-900px);
}
.sec1 .sec1-btn:hover {
  background-color: #e01c5a;
  transition: 0.5s;
  font-weight: bolder;
}
.sec1 .sec1-btn:focus {
  background-color: #e01c5a;
  outline: none;
  border: 2px #e01c5a solid;
}
.sec1 .arrow-right2 {
  margin: auto;
  width: 45px;
  height: 16px;
  transform: translateX(-355px) translateY(-508px);
}
.sec1 .arrow-glyph2 {
  margin: auto;
  max-width: 2%;
  max-height: 20%;
  transform: translateX(-260px) translateY(-460px);
}

.sec2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #70259b;
  clip-path: polygon(0 9%, 100% 0, 100% 100%, 0% 100%);
  height: 140vh;
}
.sec2 .circle-gradient {
  margin: auto;
  width: 34%;
  transform: translateX(122px) translateY(160px);
}
.sec2 .image-slider-2 {
  margin: auto;
  width: 47%;
  transform: translateX(-242px) translateY(-200px);
}
.sec2 .arrow-glyph-2 {
  margin: auto;
  max-width: 8%;
  max-height: 20%;
  transform: translateX(-5px) translateY(-225px);
}
.sec2 .arrow-right3 {
  margin: auto;
  width: 45px;
  height: 16px;
  transform: translateX(275px) translateY(-435px);
}
.sec2 .sec2-head {
  margin: auto;
  font-family: "PlayfairDisplay-R";
  font-weight: 80;
  color: white;
  font-size: 360%;
  letter-spacing: 1px;
  width: 45%;
  transform: translateX(350px) translateY(-755px);
}
.sec2 .sec2-text {
  margin: auto;
  width: 22.18%;
  color: white;
  font-family: "ProximaNova-L";
  font-size: 90%;
  letter-spacing: 1px;
  line-height: 1.4rem;
  transform: translateX(290px) translateY(-700px);
}
.sec2 .sec2-btn {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px #e01c5a solid;
  color: white;
  font-family: "ProximaNova-L";
  font-size: 90%;
  text-align: center;
  width: 8rem;
  height: 10rem;
  transform: translateX(205px) translateY(-650px);
}
.sec2 .sec2-btn:hover {
  background-color: #e01c5a;
  transition: 0.5s;
  font-weight: bolder;
}
.sec2 .sec2-btn:focus {
  background-color: #e01c5a;
  outline: none;
  border: 2px #e01c5a solid;
}

.sec3 {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: row;
  height: 75vh;
  background-color: white;
  padding: 3rem;
}
.sec3 .box01 {
  margin: auto;
  background-image: url(assets/bg-square-gradient.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
  width: 29.5%;
  height: 75%;
  padding: 1.5rem;
}
.sec3 .box01 .box-head {
  color: #e01c5a;
  font-family: "ProximaNova-L";
}
.sec3 .box01 .box-text {
  color: white;
  font-family: "PlayfairDisplay-M";
  max-width: 90%;
  padding-top: 2rem;
  font-size: 2rem;
}
.sec3 .box01 .sec3-R-arrow {
  margin: auto;
  transform: translateX(270px) translateY(70px);
}
.sec3 .box02 {
  margin: auto;
  background-image: url(assets/bg-rectangle-gradient.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
  width: 29.5%;
  height: 75%;
  padding: 1.5rem;
}
.sec3 .box02 .box-head {
  color: #e01c5a;
  font-family: "ProximaNova-L";
}
.sec3 .box02 .box-text {
  color: white;
  font-family: "PlayfairDisplay-M";
  max-width: 90%;
  padding-top: 2rem;
  font-size: 2rem;
}
.sec3 .box02 .sec3-R-arrow {
  margin: auto;
  transform: translateX(270px) translateY(110px);
}
.sec3 .box03 {
  margin: auto;
  background-image: url(assets/bg-circle-gradient.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
  width: 29.5%;
  height: 75%;
  padding: 1.5rem;
}
.sec3 .box03 .box-head {
  color: #e01c5a;
  font-family: "ProximaNova-L";
}
.sec3 .box03 .box-text {
  color: white;
  font-family: "PlayfairDisplay-M";
  max-width: 90%;
  padding-top: 2rem;
  font-size: 2rem;
}
.sec3 .box03 .sec3-R-arrow {
  margin: auto;
  transform: translateX(270px) translateY(110px);
}

.footer {
  display: flex;
  background-color: #201728;
  justify-items: center;
  align-items: center;
  flex-direction: row;
  height: 30vh;
  padding: 3rem;
}
.footer .foot01 {
  margin: auto;
}
.footer .foot01 .foot-head {
  margin: auto;
  font-family: "PlayfairDisplay-R";
  font-size: 1.5rem;
  font-weight: lighter;
  color: #e01c5a;
}
.footer .foot01 .foot-email {
  margin: auto;
  font-family: "ProximaNova-L";
  font-size: 1rem;
  color: white;
  padding-top: 1.5rem;
}
.footer .foot01 .foot-num {
  margin: auto;
  font-family: "ProximaNova-L";
  font-size: 1rem;
  color: white;
  padding-top: 0.5rem;
}
.footer .foot02 {
  margin: auto;
}
.footer .foot02 .foot-head {
  margin: auto;
  font-family: "PlayfairDisplay-R";
  font-weight: lighter;
  font-size: 1.5rem;
  color: #e01c5a;
}
.footer .foot02 .foot-email {
  margin: auto;
  font-family: "ProximaNova-L";
  font-size: 1rem;
  color: white;
  padding-top: 1.5rem;
}
.footer .foot02 .foot-num {
  margin: auto;
  font-family: "ProximaNova-L";
  font-size: 1rem;
  color: white;
  padding-top: 0.5rem;
}
.footer .foot03 {
  margin: auto;
}
.footer .foot03 .foot-head {
  margin: auto;
  font-family: "PlayfairDisplay-R";
  font-weight: lighter;
  font-size: 1.5rem;
  color: #e01c5a;
}
.footer .foot03 .foot-email {
  margin: auto;
  font-family: "ProximaNova-L";
  font-size: 1rem;
  color: white;
  padding-top: 1.5rem;
}
.footer .foot03 .foot-num {
  margin: auto;
  font-family: "ProximaNova-L";
  font-size: 1rem;
  color: white;
  padding-top: 0.5rem;
}
.footer .foot04 {
  margin: auto;
}
.footer .foot04 .foot-head {
  margin: auto;
  font-family: "PlayfairDisplay-R";
  font-weight: lighter;
  font-size: 1.5rem;
  color: #e01c5a;
}
.footer .foot04 .foot-email {
  margin: auto;
  font-family: "ProximaNova-L";
  font-size: 1rem;
  color: white;
  padding-top: 1.5rem;
}
.footer .foot04 .foot-num {
  margin: auto;
  font-family: "ProximaNova-L";
  font-size: 1rem;
  color: white;
  padding-top: 0.5rem;
}

@media (max-width: 910px) {
  body {
    max-width: 100%;
  }

  .head {
    background-image: url(assets/hearo-top.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 813px;
    width: 100%;
    transform: skew(0deg, 2deg) translateY(-24px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .head .sidenav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px #e01c5a solid;
    color: white;
    font-family: "ProximaNova-L";
    font-weight: bolder;
    font-size: 90%;
    text-align: center;
    width: 4rem;
    height: 2rem;
    transform: skew(0deg, -2deg) translateX(-200px) translateY(50px);
  }
  .head .sidenav-btn:focus {
    outline: none;
  }
  .head .logo {
    margin: auto;
    transform: skew(0deg, -2deg) translateY(190px);
    max-width: 30%;
    max-height: 10%;
  }
  .head .arrow1 {
    margin: auto;
    transform: skew(0deg, -2deg) translateY(35px);
    max-width: 2%;
    max-height: 5%;
  }

  .intro {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
  }
  .intro .about {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100px);
    background-color: #70259b;
    font-family: "PlayfairDisplay-M";
    font-size: 180%;
    text-align: center;
    color: white;
    width: 67%;
    height: 450px;
    padding-top: 2%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 20%;
    margin: auto;
  }
  .intro .about::after {
    border-color: transparent transparent #201728 transparent;
    border-style: solid;
    border-width: 0 0 4vw 70vw;
    bottom: 0;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
  }
  .intro .about-us-sec {
    display: flex;
    flex-direction: row;
  }
  .intro .about-us-sec .about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-220px);
    background-color: transparent;
    border: 2px #e01c5a solid;
    color: white;
    font-family: "ProximaNova-L";
    font-size: 90%;
    text-align: center;
    width: 10rem;
    height: 3rem;
  }
  .intro .about-us-sec .about-us:focus {
    outline: 2px solid #201728;
  }
  .intro .about-us-sec .arrow-right {
    transform: translateY(-205px) translateX(-20px);
    width: 45px;
    height: 16px;
  }

  .sec1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 125vh;
  }
  .sec1 .arrow-glyph {
    margin: auto;
    transform: translateY(-70px);
    max-width: 2%;
    max-height: 20%;
  }
  .sec1 .hex-gradient {
    margin: auto;
    width: 30%;
    transform: translateX(-180px) translateY(-50px);
  }
  .sec1 .image-slider-1 {
    margin: auto;
    width: 60.1%;
    transform: translateX(0px) translateY(-170px);
  }
  .sec1 .glyph {
    margin: auto;
    width: 2%;
    height: 42px;
    transform: translateX(150px) translateY(-420px);
  }
  .sec1 .sec1-head {
    margin: auto;
    font-family: "PlayfairDisplay-R";
    font-weight: 80;
    color: white;
    font-size: 160%;
    letter-spacing: 3px;
    width: 45%;
    transform: translateX(-100px) translateY(-220px);
  }
  .sec1 .sec1-text {
    margin: auto;
    width: 70%;
    color: white;
    font-family: "ProximaNova-L";
    font-size: 90%;
    transform: translateX(0px) translateY(-180px);
  }
  .sec1 .sec1-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px #e01c5a solid;
    color: white;
    font-family: "ProximaNova-L";
    font-size: 90%;
    text-align: center;
    width: 8rem;
    height: 2rem;
    transform: translateX(0px) translateY(-150px);
  }
  .sec1 .sec1-btn:focus {
    outline: 2px solid #70259b;
  }
  .sec1 .arrow-right2 {
    margin: auto;
    width: 45px;
    height: 16px;
    transform: translateX(70px) translateY(115px);
  }
  .sec1 .arrow-glyph2 {
    margin: auto;
    max-width: 2%;
    max-height: 20%;
    transform: translateX(-180px) translateY(160px);
  }

  .sec2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #70259b;
    clip-path: polygon(0 9%, 100% 0, 100% 100%, 0% 100%);
    height: 140vh;
  }
  .sec2 .circle-gradient {
    margin: auto;
    width: 34%;
    transform: translateX(162px) translateY(100px);
  }
  .sec2 .image-slider-2 {
    margin: auto;
    width: 60.1%;
    transform: translateX(0px) translateY(0px);
  }
  .sec2 .arrow-glyph-2 {
    margin: auto;
    max-width: 4%;
    max-height: 10%;
    transform: translateX(120px) translateY(-50px);
  }
  .sec2 .arrow-right3 {
    margin: auto;
    width: 45px;
    height: 16px;
    transform: translateX(75px) translateY(210px);
  }
  .sec2 .sec2-head {
    margin: auto;
    font-family: "PlayfairDisplay-R";
    font-weight: 80;
    color: white;
    font-size: 160%;
    letter-spacing: 1px;
    width: 45%;
    transform: translateX(-100px) translateY(-100px);
  }
  .sec2 .sec2-text {
    margin: auto;
    width: 70%;
    color: white;
    font-family: "ProximaNova-L";
    font-size: 90%;
    transform: translateX(0px) translateY(-60px);
  }
  .sec2 .sec2-btn {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px #e01c5a solid;
    color: white;
    font-family: "ProximaNova-L";
    font-size: 90%;
    text-align: center;
    width: 8rem;
    height: 3rem;
    transform: translateX(0px) translateY(-50px);
  }
  .sec2 .sec2-btn:focus {
    outline: 2px solid #201728;
  }

  .sec3 {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: white;
    padding: 3rem;
  }
  .sec3 .box01 {
    margin: auto;
    background-image: url(assets/bg-square-gradient.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    width: 80%;
    height: 30%;
    padding: 1.5rem;
  }
  .sec3 .box01 .box-head {
    color: #e01c5a;
    font-family: "ProximaNova-L";
  }
  .sec3 .box01 .box-text {
    color: white;
    font-family: "PlayfairDisplay-M";
    max-width: 90%;
    padding-top: 1rem;
    font-size: 1.8rem;
  }
  .sec3 .box01 .sec3-R-arrow {
    margin: auto;
    transform: translateX(280px) translateY(10px);
  }
  .sec3 .box02 {
    margin: auto;
    background-image: url(assets/bg-rectangle-gradient.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    width: 80%;
    height: 30%;
    padding: 1.5rem;
  }
  .sec3 .box02 .box-head {
    color: #e01c5a;
    font-family: "ProximaNova-L";
  }
  .sec3 .box02 .box-text {
    color: white;
    font-family: "PlayfairDisplay-M";
    max-width: 90%;
    padding-top: 1rem;
    font-size: 1.8rem;
  }
  .sec3 .box02 .sec3-R-arrow {
    margin: auto;
    transform: translateX(280px) translateY(0px);
  }
  .sec3 .box03 {
    margin: auto;
    background-image: url(assets/bg-circle-gradient.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    width: 80%;
    height: 30%;
    padding: 1.5rem;
  }
  .sec3 .box03 .box-head {
    color: #e01c5a;
    font-family: "ProximaNova-L";
  }
  .sec3 .box03 .box-text {
    color: white;
    font-family: "PlayfairDisplay-M";
    max-width: 90%;
    padding-top: 1rem;
    font-size: 1.8rem;
  }
  .sec3 .box03 .sec3-R-arrow {
    margin: auto;
    transform: translateX(280px) translateY(10px);
  }

  .footer {
    display: flex;
    background-color: #201728;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    padding: 3rem;
  }
  .footer .foot01 {
    margin: auto;
    width: 50%;
  }
  .footer .foot01 .foot-head {
    margin: auto;
    font-family: "PlayfairDisplay-R";
    font-size: 1.5rem;
    font-weight: lighter;
    color: #e01c5a;
    text-align: center;
  }
  .footer .foot01 .foot-email {
    margin: auto;
    font-family: "ProximaNova-L";
    font-size: 1rem;
    color: white;
    padding-top: 1.5rem;
    text-align: center;
  }
  .footer .foot01 .foot-num {
    margin: auto;
    font-family: "ProximaNova-L";
    font-size: 1rem;
    color: white;
    padding-top: 0.5rem;
    text-align: center;
  }
  .footer .foot02 {
    margin: auto;
    width: 50%;
  }
  .footer .foot02 .foot-head {
    margin: auto;
    font-family: "PlayfairDisplay-R";
    font-weight: lighter;
    font-size: 1.5rem;
    color: #e01c5a;
    padding-top: 2rem;
    text-align: center;
  }
  .footer .foot02 .foot-email {
    margin: auto;
    font-family: "ProximaNova-L";
    font-size: 1rem;
    color: white;
    padding-top: 1.5rem;
    text-align: center;
  }
  .footer .foot02 .foot-num {
    margin: auto;
    font-family: "ProximaNova-L";
    font-size: 1rem;
    color: white;
    padding-top: 0.5rem;
    text-align: center;
  }
  .footer .foot03 {
    margin: auto;
    width: 50%;
  }
  .footer .foot03 .foot-head {
    margin: auto;
    font-family: "PlayfairDisplay-R";
    font-weight: lighter;
    font-size: 1.5rem;
    color: #e01c5a;
    padding-top: 2rem;
    text-align: center;
  }
  .footer .foot03 .foot-email {
    margin: auto;
    font-family: "ProximaNova-L";
    font-size: 1rem;
    color: white;
    padding-top: 1.5rem;
    text-align: center;
  }
  .footer .foot03 .foot-num {
    margin: auto;
    font-family: "ProximaNova-L";
    font-size: 1rem;
    color: white;
    padding-top: 0.5rem;
    text-align: center;
  }
  .footer .foot04 {
    margin: auto;
    width: 50%;
  }
  .footer .foot04 .foot-head {
    margin: auto;
    font-family: "PlayfairDisplay-R";
    font-weight: lighter;
    font-size: 1.5rem;
    color: #e01c5a;
    padding-top: 2rem;
    text-align: center;
  }
  .footer .foot04 .foot-email {
    margin: auto;
    font-family: "ProximaNova-L";
    font-size: 1rem;
    color: white;
    padding-top: 1.5rem;
    text-align: center;
  }
  .footer .foot04 .foot-num {
    margin: auto;
    font-family: "ProximaNova-L";
    font-size: 1rem;
    color: white;
    padding-top: 0.5rem;
    text-align: center;
    padding-bottom: 2rem;
  }
}

/*# sourceMappingURL=styles.css.map */
