@font-face {
    src: url(fonts/Montserrat-Medium.ttf);
    font-family: Montserrat-M;
    src: url(fonts/Montserrat-Regular.ttf);
    font-family: Montserrat-R;
    src: url(fonts/PlayfairDisplay-Italic.ttf);
    font-family: PlayfairDisplay-I;
    src: url(fonts/PlayfairDisplay-Regular.ttf);
    font-family: PlayfairDisplay-R;
    src: url(fonts/PlayfairDisplay-BlackItalic.ttf);
    font-family: PlayfairDisplay-BI;
    src: url(fonts/PlayfairDisplay-Medium.ttf);
    font-family: PlayfairDisplay-M;
    src: url(fonts/ProximaNova-Alt-Thin.otf);
    font-family: ProximaNova-T;
    src: url(fonts/ProximaNova-light.otf);
    font-family: ProximaNova-L;
}
body {
    background-color: #201728;
    outline: none;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*===========================================================================================================*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #70259b;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  
  .sidenav a {
    display: block;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    &::before {
        content: "";
        background-color: #201728;
    }
}

.sidenav a:hover {
    background-color: #201728;
    color: white;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
/*===========================================================================================================*/


.head {
    background-image: url(assets/hearo-top.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 813px;
    width: 100%;
    transform: skew(0deg, 2deg) translateY(-24px);
    display: flex;
    flex-direction: column;
    align-items: center;
    .sidenav-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: 2px #e01c5a solid;
        color: white;
        font-family: 'ProximaNova-L';
        font-weight: bolder;
        font-size: 90%;
        text-align: center;
        width: 4rem;
        height: 2rem;
        transform: skew(0deg, -2deg) translateX(-630px) translateY(50px);
    }
    .sidenav-btn:hover {
        border: 2px black solid
    }
    .sidenav-btn:focus {
        outline: none;
        border: 2px #70259b solid;
    }
    .logo {
        margin: auto;
        transform: skew(0deg, -2deg) translateY(150px);
        max-width: 30%;
        max-height: 10%;
    }
    .arrow1 {
        margin: auto;
        transform: skew(0deg, -2deg) translateY(35px);
        max-width: 2%;
        max-height: 5%;
    }
}

.intro {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    .about {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-100px);
        background-color: #70259b;
        font-family: 'PlayfairDisplay-M';
        font-size: 250%;
        text-align: center;
        color: white;
        width: 67%;
        height: 450px;
        padding-top: 10%;
        padding-right: 10%;
        padding-left: 10%;
        padding-bottom: 20%;
        margin: auto;

        &::after {
            border-color: transparent transparent #201728 transparent;
            border-style: solid;
            border-width: 0 0 4vw 70vw;
            bottom: 0;
            content: "";
            height: 0;
            width: 0;
            position: absolute;
            left: 0;
            right: 0;
            overflow: hidden;
        }
    }
    .about-us-sec{
        display: flex;
        flex-direction: row;
        .about-us {
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateY(-220px);
            background-color: transparent;
            border: 2px #e01c5a solid;
            color: white;
            font-family: 'ProximaNova-L';
            font-size: 90%;
            text-align: center;
            width: 10rem;
            height: 3rem;
        }
        .about-us:hover {
            background-color: #e01c5a;
            transition: 1s;
        }
        .about-us:focus {
            background-color: #e01c5a;
            transition: 0s;
            outline: 2px #e01c5a solid;
            border: 1.5px #70259b solid;
        }
        .arrow-right {
            transform: translateY(-205px) translateX(-20px);
            width: 45px;
            height: 16px;
        }
    }
}
.arrow-glyph {
    display: flex;
    justify-items: center;
    align-content: center;
    margin: auto;
    transform: translateY(-70px);
    width: 31px;
    height: 127px;
}
.sec1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 135vh;
    .hex-gradient {
        margin: auto;
        width: 430px;
        transform: translateX(-120px)
    }
    .image-slider-1 {
        margin: auto;
        width: 683px;
        transform: translateX(190px) translateY(-300px)
    }
    .glyph {
        margin: auto;
        width: 54px;
        height: 122px;
        transform: translateX(400px) translateY(-820px)
    }
    .sec1-head {
        margin: auto;
        font-family: 'PlayfairDisplay-R';
        font-weight: 80;
        color: white;
        font-size: 360%;
        letter-spacing: 3px;
        width: 450px;
        transform: translateX(-270px) translateY(-1085px)
    }
    .sec1-text {
        margin: auto;
        width: 300px;
        color: white;
        font-family: 'ProximaNova-L';
        font-size: 90%;
        letter-spacing: 1px;
        line-height: 1.4rem;
        transform: translateX(-340px) translateY(-1040px)
    }
    .sec1-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: 2px #e01c5a solid;
        color: white;
        font-family: 'ProximaNova-L';
        font-size: 90%;
        text-align: center;
        width: 8rem;
        height: 10.2rem;
        transform: translateX(-425px) translateY(-1000px);
    }
    .sec1-btn:hover {
        background-color: #e01c5a;
        transition: .5s;
        font-weight: bolder;
    }
    .sec1-btn:focus {
        background-color: #e01c5a;
        outline: none;
        border: 2px #e01c5a solid
    }
    .arrow-right2 {
        margin: auto;
        width: 45px;
        height: 16px;
        transform: translateX(-355px) translateY(-590px);
    }
    .arrow-glyph2 {
        margin: auto;
        max-width: 31px;
        max-height: 127px;
        transform: translateX(-260px) translateY(-460px);
    }
}

.sec2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #70259b;
    clip-path: polygon(0 9%, 100% 0, 100% 100%, 0% 100%);
    height: 140vh;
    .circle-gradient {
        margin: auto;
        width: 500px;
        transform: translateX(122px) translateY(160px);
    }
    .image-slider-2 {
        margin: auto;
        width: 683px;
        transform: translateX(-242px) translateY(-200px);
    }
    .arrow-glyph-2 {
        margin: auto;
        max-width: 31px;
        max-height: 127px;
        transform: translateX(-5px) translateY(-225px);
    }
    .arrow-right3 {
        margin: auto;
        width: 45px;
        height: 16px;
        transform: translateX(275px) translateY(-535px);
    } 
    .sec2-head {
        margin: auto;
        font-family: 'PlayfairDisplay-R';
        font-weight: 80;
        color: white;
        font-size: 360%;
        letter-spacing: 1px;
        width: 500px;
        transform: translateX(320px) translateY(-805px);
    }
    .sec2-text {
        margin: auto;
        width: 300px;
        color: white;
        font-family: 'ProximaNova-L';
        font-size: 90%;
        letter-spacing: 1px;
        line-height: 1.4rem;
        transform: translateX(290px) translateY(-770px);
    }
    .sec2-btn {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: 2px #e01c5a solid;
        color: white;
        font-family: 'ProximaNova-L';
        font-size: 90%;
        text-align: center;
        width: 8rem;
        height: 10rem;
        transform: translateX(205px) translateY(-750px);
    }
    .sec2-btn:hover {
        background-color: #e01c5a;
        transition: .5s;
        font-weight: bolder;
    }
    .sec2-btn:focus {
        background-color: #e01c5a;
        outline: none;
        border: 2px #e01c5a solid
    }
}

.sec3 {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    height: 75vh;
    background-color: white;
    padding: 3rem;
    .box01{
        margin: auto;
        background-image: url(assets/bg-square-gradient.png); 
        background-position: center center;
        background-repeat: no-repeat;
        background-size: auto;
        width: 380px;
        height: 330px;
        padding: 1.5rem;
        .box-head {
            color: #e01c5a;
            font-family: 'ProximaNova-L';
        }
        .box-text {
            color: white;
            font-family: 'PlayfairDisplay-M';
            max-width: 90%;
            padding-top: 2rem;
            font-size: 2rem;
        }
        .sec3-R-arrow {
            margin: auto;
            transform: translateX(270px) translateY(70px);
        }
    }
    .box02 {
        margin: auto;
        background-image: url(assets/bg-rectangle-gradient.png); 
        background-position: center center;
        background-repeat: no-repeat;
        background-size: auto;
        width: 380px;
        height: 330px;
        padding: 1.5rem;
        .box-head {
            color: #e01c5a;
            font-family: 'ProximaNova-L';
        }
        .box-text {
            color: white;
            font-family: 'PlayfairDisplay-M';
            max-width: 90%;
            padding-top: 2rem;
            font-size: 2rem;
        }
        .sec3-R-arrow {
            margin: auto;
            transform: translateX(270px) translateY(110px);
        }
    }
    .box03 {
        margin: auto;
        background-image: url(assets/bg-circle-gradient.png); 
        background-position: center center;
        background-repeat: no-repeat;
        background-size: auto;
        width: 380px;
        height: 330px;
        padding: 1.5rem;
        .box-head {
            color: #e01c5a;
            font-family: 'ProximaNova-L';
        }
        .box-text {
            color: white;
            font-family: 'PlayfairDisplay-M';
            max-width: 90%;
            padding-top: 2rem;
            font-size: 2rem;
        }
        .sec3-R-arrow {
            margin: auto;
            transform: translateX(270px) translateY(110px);
        }
    }
}

.footer {
    display: flex;
    background-color: #201728;    
    justify-items: center;
    align-items: center;
    flex-direction: row;
    height: 30vh;
    padding: 3rem;
    .foot01 {
        margin: auto;
        .foot-head {
            margin: auto;
            font-family: 'PlayfairDisplay-R';
            font-size: 1.5rem;
            font-weight: lighter;
            color: #e01c5a;
        }
        .foot-email{
            margin: auto;
            font-family: 'ProximaNova-L';
            font-size: 1rem;
            color: white;
            padding-top: 1.5rem;
        }
        .foot-num {
            margin: auto;
            font-family: 'ProximaNova-L';
            font-size: 1rem;
            color: white;
            padding-top: 0.5rem;

        }
    }
    .foot02 {
        margin: auto;        
        .foot-head {
            margin: auto;
            font-family: 'PlayfairDisplay-R';
            font-weight: lighter;
            font-size: 1.5rem;
            color: #e01c5a;
        }
        .foot-email{
            margin: auto;
            font-family: 'ProximaNova-L';
            font-size: 1rem;
            color: white;
            padding-top: 1.5rem;
        }
        .foot-num {
            margin: auto;
            font-family: 'ProximaNova-L';
            font-size: 1rem;
            color: white;
            padding-top: 0.5rem;

        }
    }
    .foot03 {
        margin: auto;        
        .foot-head {
            margin: auto;
            font-family: 'PlayfairDisplay-R';
            font-weight: lighter;
            font-size: 1.5rem;
            color: #e01c5a;
        }
        .foot-email{
            margin: auto;
            font-family: 'ProximaNova-L';
            font-size: 1rem;
            color: white;
            padding-top: 1.5rem;
        }
        .foot-num {
            margin: auto;
            font-family: 'ProximaNova-L';
            font-size: 1rem;
            color: white;
            padding-top: 0.5rem;

        }
    }
    .foot04 {
        margin: auto;        
        .foot-head {
            margin: auto;
            font-family: 'PlayfairDisplay-R';
            font-weight: lighter;
            font-size: 1.5rem;
            color: #e01c5a;
        }
        .foot-email{
            margin: auto;
            font-family: 'ProximaNova-L';
            font-size: 1rem;
            color: white;
            padding-top: 1.5rem;
        }
        .foot-num {
            margin: auto;
            font-family: 'ProximaNova-L';
            font-size: 1rem;
            color: white;
            padding-top: 0.5rem;

        }
    }
}



@media (max-width: 910px){
    body {
        max-width: 100%;
    }
    .head {
        background-image: url(assets/hearo-top.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
        width: 100%;
        transform: skew(0deg, 2deg) translateY(-24px);
        display: flex;
        flex-direction: column;
        align-items: center;
        .sidenav-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            border: 2px #e01c5a solid;
            color: white;
            font-family: 'ProximaNova-L';
            font-weight: bolder;
            font-size: 90%;
            text-align: center;
            width: 4rem;
            height: 2rem;
            transform: skew(0deg, -2deg) translateX(-130px) translateY(50px);
        }
        .sidenav-btn:focus {
            outline: none;
        }
        .logo {
            margin: auto;
            transform: skew(0deg, -2deg) translateY(40px);
            max-width: 30%;
            max-height: 10%;
        }
        .arrow1 {

            margin: auto;
            transform: skew(0deg, -2deg) translateY(35px);
            max-width: 2%;
            max-height: 5%;
        }
    }
    
    .intro {
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        .about {
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateY(-60px);
            background-color: #70259b;
            font-family: 'PlayfairDisplay-M';
            font-size: 1rem;
            text-align: center;
            color: white;
            width: 250px;
            height: 220px;
            padding-top: 5%;
            padding-right: 5%;
            padding-left: 5%;
            padding-bottom: 20%;
            margin: auto;
    
            &::after {
                border-color: transparent transparent #201728 transparent;
                border-style: solid;
                border-width: 0 0 4vw 70vw;
                bottom: 0;
                content: "";
                height: 0;
                width: 0;
                position: absolute;
                left: 0;
                right: 0;
                overflow: hidden;
            }
        }
        .about-us-sec{
            display: flex;
            flex-direction: row;
            .about-us {
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translateY(-120px) translateX(20px);
                background-color: transparent;
                border: 2px #e01c5a solid;
                color: white;
                font-family: 'ProximaNova-L';
                font-size: 60%;
                text-align: center;
                width: 5rem;
                height: 2rem;
            }
            .about-us:hover {
                background-color: #e01c5a;
                transition: 1s;
            }
            .about-us:focus {
                background-color: #e01c5a;
                transition: 0s;
                outline: 2px #e01c5a solid;
                border: 1.5px #70259b solid;
            }
            .arrow-right {
                transform: translateY(-110px) translateX(10px);
                width: 25px;
                height: 11px;
            }
        }
    }

    .arrow-glyph {
        display: flex;
        justify-items: center;
        align-content: center;
        margin: auto;
        transform: translateY(-70px);
        width: 15px;
        height: 60px;
    }
    
    .sec1 {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 90vh;
        .hex-gradient {
            margin: auto;
            width: 120px;
            transform: translateX(-80px) translateY(-60px)
        }
        .image-slider-1 {
            margin: auto;
            width: 220px;
            transform: translateX(0px) translateY(-140px)
        }
        .glyph {
            margin: auto;
            max-width: 15px;
            max-height: 40px;
            transform: translateX(70px) translateY(-240px)
        }
        .sec1-head {
            margin: auto;
            font-family: 'PlayfairDisplay-R';
            font-weight: 80;
            color: white;
            font-size: 160%;
            letter-spacing: 3px;
            width: 150px;
            transform: translateX(-80px) translateY(-215px)
        }
        .sec1-text {
            margin: auto;
            width: 280px;
            color: white;
            font-family: 'ProximaNova-L';
            font-size: 80%;
            transform: translateX(0px) translateY(-190px)
        }
        .sec1-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            border: 2px #e01c5a solid;
            color: white;
            font-family: 'ProximaNova-L';
            font-size: 90%;
            text-align: center;
            width: 8rem;
            height: 2rem;
            transform: translateX(0px) translateY(-160px);
        }
        .sec1-btn:hover {
            background-color: #e01c5a;
            transition: 1s;
        }
        .sec1-btn:focus {
            background-color: #e01c5a;
            transition: 0s;
            outline: 2px #e01c5a solid;
            border: 1.5px #201728 solid;
        }
        .arrow-right2 {
            display: none;
        }
        .arrow-glyph2 {
            margin: auto;
            max-width: 15px;
            max-height: 65px;
            transform: translateX(-120px) translateY(140px);
        }
    }
    
    .sec2 {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #70259b;
        clip-path: polygon(0 9%, 100% 0, 100% 100%, 0% 100%);
        height: 100vh;
        .circle-gradient {
            margin: auto;
            width: 150px;
            transform: translateX(80px) translateY(40px);
        }
        .image-slider-2 {
            margin: auto;
            width: 200px;
            transform: translateX(0px) translateY(-50px);
        }
        .arrow-glyph-2 {
            margin: auto;
            max-width: 15px;
            max-height: 65px;
            transform: translateX(120px) translateY(290px);
        }
        .arrow-right3 {
            display: none;
        } 
        .sec2-head {
            margin: auto;
            font-family: 'PlayfairDisplay-R';
            font-weight: 80;
            color: white;
            font-size: 160%;
            letter-spacing: 1px;
            width: 200px;
            transform: translateX(-60px) translateY(-100px);
        }
        .sec2-text {
            margin: auto;
            width: 280px;
            color: white;
            font-family: 'ProximaNova-L';
            font-size: 90%;
            transform: translateX(0px) translateY(-80px);
        }
        .sec2-btn {
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            border: 2px #e01c5a solid;
            color: white;
            font-family: 'ProximaNova-L';
            font-size: 90%;
            text-align: center;
            width: 8rem;
            height: 2rem;
            transform: translateX(0px) translateY(-60px);
        }
        .sec2-btn:hover {
            background-color: #e01c5a;
            transition: 1s;
        }
        .sec2-btn:focus {
            background-color: #e01c5a;
            transition: 0s;
            outline: 2px #e01c5a solid;
            border: 1.5px #70259b solid;
        }
    }
    
    .sec3 {
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        height: 120vh;
        background-color: white;
        padding: 3rem;
        .box01{
            margin: auto;
            background-image: url(assets/bg-square-gradient.png); 
            background-position: center center;
            background-repeat: no-repeat;
            background-size: auto;
            width: 270px;
            height: 190px;
            padding: 1rem;
            .box-head {
                color: #e01c5a;
                font-family: 'ProximaNova-L';
            }
            .box-text {
                color: white;
                font-family: 'PlayfairDisplay-M';
                max-width: 90%;
                padding-top: 0.5rem;
                font-size: 1.5rem;
            }
            .sec3-R-arrow {
                margin: auto;
                transform: translateX(190px) translateY(10px);
            }
        }
        .box02 {
            margin: auto;
            background-image: url(assets/bg-rectangle-gradient.png); 
            background-position: center center;
            background-repeat: no-repeat;
            background-size: auto;
            width: 270px;
            height: 190px;
            padding: 1rem;
            .box-head {
                color: #e01c5a;
                font-family: 'ProximaNova-L';
            }
            .box-text {
                color: white;
                font-family: 'PlayfairDisplay-M';
                max-width: 90%;
                padding-top: 0.5rem;
                font-size: 1.5rem;
            }
            .sec3-R-arrow {
                margin: auto;
                transform: translateX(190px) translateY(40px);
            }
        }
        .box03 {
            margin: auto;
            background-image: url(assets/bg-circle-gradient.png); 
            background-position: center center;
            background-repeat: no-repeat;
            background-size: auto;
            width: 270px;
            height: 190px;
            padding: 1rem;
            .box-head {
                color: #e01c5a;
                font-family: 'ProximaNova-L';
            }
            .box-text {
                color: white;
                font-family: 'PlayfairDisplay-M';
                max-width: 90%;
                padding-top: 0.5rem;
                font-size: 1.5rem;
            }
            .sec3-R-arrow {
                margin: auto;
                transform: translateX(190px) translateY(40px);
            }
        }
    }
    
    .footer {
        display: flex;
        background-color: #201728;    
        justify-items: center;
        align-items: center;
        flex-direction: column;
        height: 30vh;
        padding: 3rem;
        .foot01 {
            margin: auto;
            width: 80%;
            .foot-head { 
                margin: auto;
                font-family: 'PlayfairDisplay-R';
                font-size: 1.5rem;
                font-weight: lighter;
                color: #e01c5a;
                text-align: center;
            }
            .foot-email{
                margin: auto;
                font-family: 'ProximaNova-L';
                font-size: 1rem;
                color: white;
                padding-top: 1.5rem;
                text-align: center;
            }
            .foot-num {
                margin: auto;
                font-family: 'ProximaNova-L';
                font-size: 1rem;
                color: white;
                padding-top: 0.5rem;
                text-align: center;
    
            }
        }
        .foot02 {
            margin: auto;
            width: 80%;      
            .foot-head {
                margin: auto;
                font-family: 'PlayfairDisplay-R';
                font-weight: lighter;
                font-size: 1.5rem;
                color: #e01c5a;
                padding-top: 2rem;
                text-align: center;
            }
            .foot-email{
                margin: auto;
                font-family: 'ProximaNova-L';
                font-size: 1rem;
                color: white;
                padding-top: 1.5rem;
                text-align: center;
            }
            .foot-num {
                margin: auto;
                font-family: 'ProximaNova-L';
                font-size: 1rem;
                color: white;
                padding-top: 0.5rem;
                text-align: center;
    
            }
        }
        .foot03 {
            margin: auto;
            width: 80%;      
            .foot-head {
                margin: auto;
                font-family: 'PlayfairDisplay-R';
                font-weight: lighter;
                font-size: 1.5rem;
                color: #e01c5a;
                padding-top: 2rem;
                text-align: center;
            }
            .foot-email{
                margin: auto;
                font-family: 'ProximaNova-L';
                font-size: 1rem;
                color: white;
                padding-top: 1.5rem;
                text-align: center;
            }
            .foot-num {
                margin: auto;
                font-family: 'ProximaNova-L';
                font-size: 1rem;
                color: white;
                padding-top: 0.5rem;
                text-align: center;
            }
        }
        .foot04 {
            margin: auto;
            width: 80%;      
            .foot-head {
                margin: auto;
                font-family: 'PlayfairDisplay-R';
                font-weight: lighter;
                font-size: 1.5rem;
                color: #e01c5a;
                padding-top: 2rem;
                text-align: center;
            }
            .foot-email{
                margin: auto;
                font-family: 'ProximaNova-L';
                font-size: 1rem;
                color: white;
                padding-top: 1.5rem;
                text-align: center;
            }
            .foot-num {
                margin: auto;
                font-family: 'ProximaNova-L';
                font-size: 1rem;
                color: white;
                padding-top: 0.5rem;
                text-align: center;
                padding-bottom: 2rem;
    
            }
        }
    }
    
}
